@import "abstracts/variables";

.container {
  padding: 1%;
}

.row{
    @for $i from 1 through $gridColsNumber{
        .col-#{$i}{
            width: columnWidth($gridColsNumber,$i);
            @if $defaultDirection != ltr {
                @extend .rtl;
                $floatLeft: right;
                $floatRight: left;
            }
            float: $floatLeft;
            padding: 1px;
        }
    }

    &:before,&:after{
        @extend %clearfix;
    }
}

.rtl{
    font-family: $ar-font-family;
    text-align: right;
    direction: rtl;
}


// Clearfix hack from Nicolas Gallagher
%clearfix{
    content: '';
    display: table;
    clear: both;
}
